body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;

/*--------------------page1------------------------------*/
}
.page1 {
    background-image: url("image_page_1.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.center {
    height: 40vh;
    width: 70vw;
    /*width: 1058.4px;*/
    /*height: 392.8px;*/
    display: flex;
    flex-direction: row;
    background: #FAF9F7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.block_image {
    width: 50%;
    background-image: url("image_page_1_1.png");
    background-size: cover;

}
.block_button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.textH {
    font-size: 35px;
    margin: 50px 0 0
}
.textP {
    font-size: 25px;
    margin: 0

}
#button1 {
    height: 76px;
    width: 23vw;
    margin:0 0 50px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: "KoHo", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*--------------------page2------------------------------*/
.page2 {
    background-image: url("image_page_2.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.video {
    width: 949px;
    height: 533px;
    /*margin: 25px 25px;*/
}

.content {
    width: 949px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/*--------------------page3------------------------------*/
.page3 {
    background-image: url("image_page_3.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.buy {
    width: 453.6px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(83, 83, 83, 0.40);
    font-family: "KoHo";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 25px;
}
.img {
    width: 408.6px;
    height: 214px;
    flex-shrink: 0;
    margin: 25px 22px 0 23px;
}
#img_1 {
    background-image: url("image_page_3_1.png");
}
#img_2 {
    background-image: url("image_page_3_2.png");
}
#img_3 {
    background-image: url("image_page_3_3.png");
}
.button2 {
    width: 409px;
    height: 76px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: "KoHo", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6B6666;
    margin-bottom: 107px;
}
.text {
    margin: 3px;
}