body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.block {
    height: 49vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pink {
    background-color: pink;

}
#black {
    background-color: black;
    color: pink;
}

h2 {
    font-size: 5em;
}
p {
    font-size: 2em;
    margin: 10px 20px;
    text-align: center;
;
}