body {
    margin: 0
}

.parentsBox {
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.beigeBox {
    background-color: bisque;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    text-align: center;
}

#text1 {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

#text2 {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

#text3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

#text4 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#text5{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

