body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: "-apple-system", sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    font-family: "-apple-system", sans-serif;
    font-size: 14px;
    color: #385185;
}
.board {
    display: flex;
    flex-direction: column;

}
form {
    height: 410px;
    width: 350px;
    margin: 0 0 10px;
    padding: 0 10px;
    border: 1px solid #d0d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


}
.logo {
    width: 174px;

}
input{
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    margin: 4px;
    color: grey;
    text-overflow: ellipsis;
}
input[type="submit"] {
    width: 300px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 143, 255, 0.86);
    color: white;
    font-family: "-apple-system", sans-serif;
    font-weight: bold;
    font-size: 14px;
}
input[type="submit"]:hover {
    font-size: 16px;
    cursor: pointer;
}
.facebook {
    height: 32px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "-apple-system", sans-serif;
    font-size: 16px;
}
.facebook_logo {
    height: 16px;
    width: 16px;
}
#link_facebook {
    font-family: "-apple-system", sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.reg {
    height: 63px;
    width: 350px;
    margin: 0 0 10px;
    padding: 0 10px;
    border: 1px solid #d0d0d0;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#link_sing_up {
    text-decoration: none;
    color: deepskyblue;
    margin: 14px 4px;
    font-weight: bold;
    font-family: "-apple-system", sans-serif;
    font-size: 14px;
}