body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
/*--------------------page1------------------------------*/
}
.page1 {
    background-image: url("image_page_1.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.center {
    height: 40vh;
    width: 52vw;
    display: flex;
    flex-direction: row;
    background: #FAF9F7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.block_image {
    width: 50%;
    background-image: url("image_page_1_1.png");
    background-size: cover;

}
.block_button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;

}
#button1 {
    height: 76px;
    width: 409px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: "KoHo", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*--------------------page2------------------------------*/
.page2 {
    background-image: url("image_page_2.png");
    height: 100vh;
    background-size: cover;
}
/*--------------------page3------------------------------*/
.page3 {
    background-image: url("image_page_3.png");
    height: 100vh;
    background-size: cover;
}